{:paths ["src"] ;; include local validations in the current project like this
 :deps {
        ;;; And pull in 3rd party suites like this...

        swirrl/validations.pmdqb {:git/url "git@github.com:Swirrl/pmd-rdf-validations.git"
                                  :sha "351924ade922129890252ad060ce8f234c44df99"
                                  :deps/manifest :deps
                                  :deps/root "pmd-qb"}
        swirrl/validations.pmd4 {:git/url "git@github.com:Swirrl/pmd-rdf-validations.git"
                                 :sha "351924ade922129890252ad060ce8f234c44df99"
                                 :deps/manifest :deps
                                 :deps/root "pmd4"}}

 :aliases {:rdf-validator {:extra-deps { swirrl/rdf-validator {:git/url "https://github.com/Swirrl/rdf-validator.git"
                                                               :sha "a53d4e088ed0d493026d6399142c2f8137a2c4a3"}}
                           :main-opts ["-m" "rdf-validator.core"]}
           ; :local/validations {:classpath-overrides {swirrl/validations.pmdqb "/path/to/local/github/projects/pmd-rdf-validations/pmd-qb"
           ;                                           swirrl/validations.pmd4 "/path/to/local/github/projects/pmd-rdf-validations/pmd4"}}
           }
 }
