{:cogs-whole {
  				:import [:pmd4]}
 :cogs-db {
  				:import [:pmd-qb]
						:exclude [:pmd-qb/ic17]
						:tests [{:source "swirrl/validations/cogs/ObservationsHaveMeasureValueOrMarker.sparql"
															:type :sparql
															:name "ObservationsHaveMeasureValueOrMarker"}]}}